


		<div class="well well-lg">
			
			<div class="page-header">
				<h3>User List</h3>
			</div>

			<table class="table table-striped table-hover  table-condensed">
				<thead>
					<tr>
						<th>Id</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-left">
						<td>1</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>mdo123</td>
					</tr>
					<tr class="text-left">
						<td>2</td>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>hjb@dd!</td>
					</tr>
					<tr class="text-left">
						<td>3</td>
						<td>Larry</td>
						<td>Bird</td>
						<td>xxx123</td>
					</tr>
					<tr class="text-left">
						<td>4</td>
						<td>Bang</td>
						<td>Nguyen</td>
						<td>BangBang!</td>
					</tr>
					<tr class="text-left">
						<td>5</td>
						<td>Maurice</td>
						<td>Gilbert</td>
						<td>mg123</td>
					</tr>
					<tr class="text-left">
						<td>6</td>
						<td>Helen</td>
						<td>Grochowski</td>
						<td>gggabc$$$</td>
					</tr>
					<tr class="text-left">
						<td>7</td>
						<td>Mary</td>
						<td>Lamb</td>
						<td>1234567890</td>
					</tr>
				</tbody>
			</table>

		</div>

